.profile {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  grid-template-rows: auto;
  width: 100%;
  max-width: 880px;
  margin: 0;
  font-family: Inter, Arial, sans-serif;
}

@media(min-width: 1024px) {
  .profile {
    grid-template-columns: 0.2fr 3fr 1fr;
    grid-template-rows: auto;
  }
}

@media(min-width: 1280px) {
  .profile {
    margin-top: 38px;
    margin-bottom: 16px;
  }
}
