.profile__title {
  font-size: 27px;
  line-height: 32.68px;
  font-weight: 500;
  color: #fff;
  margin: 0 10px 0 24px;
  padding: 0;
}

@media(min-width: 768px) {
  .profile__title {
    font-size: 36px;
  }
}

@media(min-width: 1024px) {
  .profile__title {
    font-size: 42px;
    line-height: 48px;
  }
}

@media(min-width: 1280px) {
  .profile__title {
    grid-column: 2;
    grid-row: 1;
    margin: 0;
  }
}
