.profile__title {
  font-size: 27px;
  line-height: 32.68px;
  font-weight: 500;
  color: #fff;
  margin: 0 10px 0 28px;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 230px;
}

@media(min-width: 768px) {
  .profile__title {
    font-size: 32px;
    max-width: 250px;
  }
}

@media(min-width: 1024px) {
  .profile__title {
    font-size: 42px;
    line-height: 48px;
    grid-column: 2;
    grid-row: 1;
    margin: 0;
    max-width: 330px;
  }
}
