.element__like-image {
  background-image: url(../../../images/like.svg);
  width: 22px;
  height: 19px;
  margin: auto 20px auto 0;
  transition: opacity 0.1s linear;
}

.element__like-image:hover {
  opacity: 50%;
}

.element__like-image:active {
  background-image: url(../../../images/like-black.svg);
}
