.profile__edit-button_mini {
  visibility: hidden;
}

@media(min-width:1280px) {
  .profile__edit-button_mini {
    visibility: visible;
    grid-column: 3;
    grid-row: 1 / 3;
    width: 150px;
    height: 50px;
    margin: 36px 0 0 13px;
  }
}
