.popup__window {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 15px;
  background-color: #fff;
  min-width: 282px;
  width: 80%;
  max-width: 430px;
  margin: 0 auto;
}
