.popup__close-button {
  position: absolute;
  right: 0px;
  top: -37px;
  cursor: pointer;
  border: none;
  background: none;
  height: 20px;
  width: 20px;
  background-image: url(../../../images/Close-Icon.svg);
}

@media(min-width: 768px) {
  .popup__close-button {
    right: -40px;
    top: -40px;
    height: 32px;
    width: 32px;
    background-size: 32px;
  }
}
