.popup__save-button {
  width: 238px;
  height: 46px;
  background-color: black;
  font-size: 14px;
  line-height: 16.94px;
  color: white;
  border: none;
  border-radius: 2px;
  margin: 45px 0 25px 0;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.popup__save-button:hover {
  opacity: 80%;
}

@media(min-width: 1024px) {
  .popup__save-button {
    width: 358px;
    height: 50px;
    margin: 18px 0 37px 0;
    font-size: 18px;
    line-height: 21.78px;
  }
}
